html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
font-family: 'Sunflower', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
font-family: 'Sunflower', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
font-family: 'Open Sans', sans-serif;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    letter-spacing: 1px;
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
font-family: 'Sunflower', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
/*-- //Reset-Code --*/
.title {
    font-size: 44px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: capitalize;
}
.clr {
    color: #fff;
}
input#header-search {
    width: 100%;
    height: 44px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    padding: 0 19px;
    background: #ccc;
}
.text-logo {
    align-content: center;
    padding-top: 12px;
}
.user-panel {
    display: -webkit-inline-box;
    padding-top: 12px;
}
.set-money, .wishlish, .cart{
    padding-left: 10px;
}
select.sl-money {
    border: none;
    width: 110px;
}
a {
    color: black;
    font-family: sans-serif;
}
/*-- header --*/
/* hero-section */
.hero-section {
	padding-top: 150px;
}

.hero-slider .hs-item {
	position: relative;
	height: 300px;
}

.hero-slider .hs-item span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 5px;
	display: block;
	position: relative;
	top: 25px;
	opacity: 0;
}

.hero-slider .hs-item h2 {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
	position: relative;
	top: 25px;
	opacity: 0;
}

.hero-slider .hs-item p {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 35px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .hs-item .site-btn {
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .hs-item .sb-line {
	margin-right: 5px;
}

.hero-slider .hs-item .container {
	position: relative;
	padding-top: 70px;
}

.hero-slider .hs-item .offer-card {
	position: absolute;
	right: 0;
	top: 63px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #f51167;
	text-align: center;
	padding-top: 20px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
}

.hero-slider .hs-item .offer-card:after {
	position: absolute;
	content: "";
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px solid #f96790;
	left: 5px;
	top: 5px;
	border-radius: 50%;
}

.hero-slider .hs-item .offer-card span {
	font-size: 18px;
	text-transform: lowercase;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .hs-item .offer-card h2 {
	font-size: 72px;
	font-weight: 400;
	line-height: 1;
}

.hero-slider .hs-item .offer-card p {
	text-transform: uppercase;
	line-height: 1;
	font-size: 14px;
}

.hero-slider .slider-nav-warp {
	max-width: 1145px;
	bottom: 0;
	margin: -78px auto 0;
}

.hero-slider .slider-nav {
	display: inline-block;
	padding: 0 38px;
	position: relative;
}

.hero-slider .owl-dots {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 9px;
}

.hero-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 15px;
	margin-right: 10px;
	opacity: 0.25;
}

.hero-slider .owl-dots .owl-dot.active {
	opacity: 1;
}

.hero-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.hero-slider .owl-nav button.owl-next,
.hero-slider .owl-nav button.owl-prev {
	font-size: 27px;
	position: absolute;
	color: #fff;
	opacity: 0.5;
	bottom: -20px;
}

.hero-slider .owl-nav button.owl-next {
	right: 0;
}

.hero-slider .owl-nav button.owl-prev {
	left: 0;
}

.hero-slider .owl-item.active .hs-item h2,
.hero-slider .owl-item.active .hs-item span,
.hero-slider .owl-item.active .hs-item p,
.hero-slider .owl-item.active .hs-item .site-btn {
	top: 0;
	opacity: 1;
}

.hero-slider .owl-item.active .hs-item span {
	-webkit-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
}

.hero-slider .owl-item.active .hs-item h2 {
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.hero-slider .owl-item.active .hs-item p {
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-slider .owl-item.active .hs-item .site-btn {
	-webkit-transition: all 0.5s ease 0.8s;
	-webkit-transition: all 0.5s ease 0.8s;
	-o-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

.hero-slider .owl-item.active .hs-item .offer-card {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.5s ease 1s;
	-webkit-transition: all 0.5s ease 1s;
	-o-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
}
/* hero-section */

/* features section */
section.features-section {
    margin-top: 50px;
}
.feature {
	text-align: center;
	background: #f8f8f8;
	height: 70px;
}

.feature:nth-child(2) {
	background: #f51167;
}

.feature:nth-child(2) h2 {
	color: #fff;
}

.feature .feature-inner {
	padding: 20px 25px;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.feature .feature-icon {
	display: inline-block;
	margin-right: 15px;
}

.feature h2 {
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
}
/* features section */
/* latest product section */
img.img-latest-product {
    width: 250px;
    height: 250px;
}
h3.mt-3.mb-3 {
    color: black;
    font-family: system-ui;
    padding: 0;
}
.top-letest-product-section {
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-title{
    text-align: center;
}
.top-letest-product-section .section-title {
	margin-bottom: 10px;
}

.product-slider .owl-nav {
	position: absolute;
	top: calc(50% - 30px);
	width: 100%;
	left: 0;
}

.product-slider .owl-nav button.owl-next,
.product-slider .owl-nav button.owl-prev {
	color: #a4a4a4;
	font-size: 42px;
	position: relative;
}

.product-slider .owl-nav button.owl-next {
	float: right;
	right: -92px;
}

.product-slider .owl-nav button.owl-prev {
	float: left;
	left: -92px;
}

.product-item .pi-pic {
	position: relative;
	display: block;
}

.product-item .tag-new {
	position: absolute;
	left: 16px;
	top: 14px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	background: #50e550;
	line-height: 1;
	text-transform: uppercase;
	padding: 5px 9px 1px;
	border-radius: 15px;
	width: 42px;
}

.product-item .tag-sale {
	position: absolute;
	right: 16px;
	top: 14px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	background: #50e550;
	line-height: 1;
	text-transform: uppercase;
	padding: 5px 9px 1px;
	border-radius: 15px;
	width: 42px;
}

.product-item .tag-sale {
	text-align: center;
	padding: 5px 0px 1px;
	min-width: 65px;
	background: #f51167;
}

.product-item .pi-links {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 18px;
	z-index: 9;
	padding-right: 15px;
	text-align: right;
}

.product-item .pi-links a {
	display: inline-table;
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 60px;
	font-size: 18px;
	line-height: 18px;
	padding-top: 9px;
	overflow: hidden;
	color: #000;
	position: relative;
	-webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	text-align: center;
}

.product-item .pi-links a i {
	display: inline-block;
	color: #000;
}

.product-item .pi-links form button i {
	display: inline-block;
	color: #000;
}

.product-item .pi-links a.add-card {
	padding-top: 8px;
}


.product-item .pi-links a.add-card span {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 19px;
	top: 20px;
	opacity: 0;
}

.product-item .pi-links a.add-card:hover {
	width: 148px;
	padding: 8px 18px 0;
	text-align: left;
}

.product-item .pi-links a.add-card:hover span {
	opacity: 1;
	top: 10px;
	-webkit-transition: all 0.4s ease 0.3s;
	-o-transition: all 0.4s ease 0.3s;
	transition: all 0.4s ease 0.3s;
}

.product-item .pi-links form button.add-card {
	padding: 4px;
	border: none;
	outline: none;
	cursor: pointer;
}

.product-item .pi-links form button.wishlist-btn{
	padding: 4px;
	border: none;
	outline: none;
	margin-top: 5px;
	cursor: pointer;
}

.product-item .pi-links form button.add-card span {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 19px;
	top: 20px;
	opacity: 0;
}

.product-item .pi-links form button.add-card:hover {
	width: 148px;
	padding: 8px 18px 0;
	text-align: left;
}

.product-item .pi-links form button.add-card:hover span {
	opacity: 1;
	top: 10px;
	-webkit-transition: all 0.4s ease 0.3s;
	-o-transition: all 0.4s ease 0.3s;
	transition: all 0.4s ease 0.3s;
}

.product-item .pi-text {
	padding-top: 10px;
	height: 87px;
}

.product-item .pi-text h6 {
	padding: 0;
    position: absolute;
    right: 0;
	overflow: hidden;
	font-weight: 700;
	color: #111111;
}

.pr-text{
    margin-right: 15px;
}
.pr-link{
    margin-left: 15px;
}

.product-item .pi-text a {
    padding: 0;
    position: absolute;
    left: 0;
	font-size: 14px;
	color: #111111;
	margin-bottom: 0;
}

/* latest product section */

/*-- nav --*/

.header-outs {
    position:relative;
}
.header-bar {
    position: absolute;
    width: 100%;
    z-index: 99;
}
h1 a.navbar-brand {
font-size:32px; 
color: #fff !important; 
text-transform:capitalize; 
font-weight: 400;
letter-spacing: 2px;
margin: 0px;
}
.hedder-up {
    background: #fff;
}
.search-right,.right-side-cart {
    margin-top: 9px;
}
.h4, h4 {
    font-size: 24px;
}

/*--headder info-contact --*/
nav.navbar.navbar-expand-lg.navbar-light {
    background: rgb(19 18 18 / 70%);
}
.hedder-up,.info-top-grid,nav.navbar.navbar-expand-lg.navbar-light{
    padding: 1em 3em;
}

.info-contact-agile ul li{
    display:inline-block;
}
.info-contact-agile ul li p,.info-contact-agile ul li p a {
    font-size: 14px;
    color: #000;    
  display: inline-block;
}
.info-contact-agile ul li p a:hover{color:#fff;}
.info-contact-agile ul li span {
    font-size:20px;
    color: #ea1d5d;
    margin-right:12px;
}
.info-contact-agile ul li:nth-child(1) {
    margin-right: 16px;
}
.cart-icons ul li button {
    padding: 0px;
    background:rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    outline:none;
}
/*--//headder info-contact --*/
.search-right input[type="search"] {
    width:85%;
    color: #fff;
    background-color: #e4e4e4;
    outline: none !important;
    font-size: 14px;
    margin-right: 0px !important;
    border-radius:0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.search-right button {
    background: #000;
    padding: 4.5px 0px;
    width: 13%;
    color: #fff;
    border-radius: 0px;
    border: 1px solid #fff;
}
.search-right button:hover{background:#fff;
                    color:#000;}
.navbar-light .navbar-nav .nav-link {
    color: #e0d3d3;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:600;
    padding: 10px 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
nav.navbar.navbar-expand-lg.navbar-light{
    padding: 1em 0em;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color:#ff3b9f;

}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.open, 
.navbar-light .navbar-nav .open>.nav-link {
    color:#ff3b9f;

}
/*-- //nav --*/
/*--model--*/
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 16px;
    color: #5a5656;
    padding: 12px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    background: none;
    outline: none;
    margin-bottom: 18px;
}
h5#exampleModalLabel{
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
/*--//model--*/
/*-- banner --*/ 
.one-img{  background: url(../images/bg-banner1.webp)no-repeat center;}
.two-img{  background: url(../images/bg-banner2.webp)no-repeat center;}
.slider-img{  background-size: cover;
max-height: 300px;
margin-top: 150px;}  
.rslides {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}
.rslides li {
-webkit-backface-visibilit: hidden;
position: absolute;
display: none;
width: 100%;
left: 0;
top: 0;
}
.rslides li:first-child {
position: relative;
display: block;
float: left;
}
.rslides img {
display: block;
height: auto;
float: left;
width: 100%;
border: 0;
}
/*-- //banner Slider --*/
.rslides {
margin: 0 auto 40px;
}
#slider2,
#slider3 {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin: 0 auto;
}
.rslides_tabs {
list-style: none;
padding: 0;
background: rgba(0,0,0,.25);
box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
font-size: 18px;
list-style: none;
margin: 0 auto 50px;
max-width: 540px;
padding: 10px 0;
text-align: center;
width: 100%;
}
.rslides_tabs li {
display: inline;
float: none;
margin-right: 1px;
}
.rslides_tabs a {
width: auto;
line-height: 20px;
padding: 9px 20px;
height: auto;
background: transparent;
display: inline;
}
.rslides_tabs li:first-child {
margin-left: 0;
}
.rslides_tabs .rslides_here a {
background: rgba(255,255,255,.1);
color: #fff;
font-weight: bold;
}

/* Callback example */
/*.events {
list-style: none;
}*/
.callbacks_container {
position: relative;
float: left;
width: 100%;
}
.callbacks {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}
.callbacks li {
position: absolute;
width: 100%;
left: 0;
top: 0;
}
.callbacks img {
display: block;
position: relative;
z-index: 1;
height: auto;
width: 100%;
border: 0;
}
.callbacks .caption {
display: block;
position: absolute;
z-index: 2;
font-size: 20px;
text-shadow: none;
color: #fff;
background: #000;
background: rgba(0,0,0, .8);
left: 0;
right: 0;
bottom: 0;
padding: 10px 20px;
margin: 0;
max-width: none;
}
.slider-info {
padding: 23em 0 0;
}
.slider-info h5 {
    font-size: 62px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 11px;
    text-shadow: 1px 1px 7px #151212;
}
.slider-info p {
    font-size: 16px;
    letter-spacing: 2px;
    color: #f3f3f3;
    line-height: 30px;
}
.outs_more-buttn a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ea1d5d;
    outline: none;
    border-radius: 50px;
    padding: 10px 22px;
    border: 2px double #ea1d5d;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.outs_more-buttn a:hover{
    background: none;
    border: 2px double #ea1d5d;
    color: #fff;
}
.callbacks_nav {
position: absolute;
-webkit-tap-highlight-color: rgba(0,0,0,0);
top:65%;
left: 0;
opacity: 0.7;
z-index: 3;
text-indent: -9999px;
overflow: hidden;
text-decoration: none;
height: 53px;
width: 53px;
background:rgba(230, 230, 230, 0) url("../images/left-arrow.png") no-repeat left top;
margin-top: -45px;
}
.callbacks_nav:active {
opacity: 1.0;
}
.callbacks_nav.next {
left: auto;
background:rgba(230, 230, 230, 0)  url("../images/right-arrow.png") no-repeat 0px 0px;
background-position: right top;
right: 0;
}
.callbacks_nav ,
.callbacks_nav.next {
background-size:40px;
}
/*#slider3-pager a {
display: inline-block;
}
#slider3-pager img {
float: left;
}
#slider3-pager .rslides_here a {
background: transparent;
box-shadow: 0 0 0 2px #666;
}
#slider3-pager a {
padding: 0;
}*/
/*--pager--*/
/*.callbacks_tabs {
list-style: none;
position: absolute;
padding: 0;
bottom: 228px;
right: 41%;
margin: 0;
z-index: 9;
display: block;
text-align: center;
}
.callbacks_tabs li {
    display: inline-block;
    margin: 0px 2px 0px;
}
.callbacks_tabs a {
visibility: hidden;
}
.callbacks_tabs a:after {
content: "\f111";
font-size: 0;
font-family: FontAwesome;
visibility: visible;
display: block;
width: 21px;
height: 21px;
display: inline-block;
background:#d24055;
border: none;
border-radius: 50%;
}
.callbacks_here a:after {
background: #fff;
border: 4px solid #d24055;
}*/
.news-agile-text p,.product-info-img p,
.sub-agile-info-toys p,.news-agile-text p ,
.about-products-w3layouts p,.address-gried p,
.address-gried p a,.icons p,.about-innergrid-agile p,.abut-gride p{
    line-height: 28px;
    font-size: 14px;
    color: #000;
}

.banner-right-icon h4,.clients-says-w3layouts h4{
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
}
/*-- //banner --*/
/*-- inner-banner --*/ 
.inner_page-banner {
text-align: center;
background: url(../images/b2.jpg) no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
min-height: 150px;
}
ul.short_ls li a {
    color: #000;
    text-decoration: none;
}
ul.short_ls li {
display: inline-block;
letter-spacing: 1px;
font-size: 14px;
}
.using-border {
     width: 100%; 
    border: none; 
    background:#F8F7F7;
    text-align: center;
}
/*-- //inner-banner --*/ 
/*--blog--*/
.blog,.premium,.sub-below-address{
    background:#fff;
}
/*--//blog--*/
section.blog.py-lg-4.py-md-3.py-sm-3.py-3 {
    padding: 0;
    margin: 0;
}
/*-- about-- */
.about-toys-off h2{
    font-size: 28px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 38px;
    text-transform: uppercase;
}
.about-toys-off span {
    font-style: italic;
    font-weight: 200;
    color: #ea1d5d;
}
.toys-grids-upper {
    background: #000;
    padding: 5em 2em;
}
.banner-below-w3l {
    position: relative;
}
.toys-grids-upper {
    background:rgba(0, 0, 0, 0.7);
    padding: 6em 2em;
    position: absolute;
    width: 51%;
    text-align: center;
    top: 166px;
    left: 25%;
}
/*-- about-inner-- */
.about-innergrid-agile h4,.about-sub-inner h4{
    font-size: 32px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color:#ea1d5d;}
    .abut-gride span {
    font-size: 30px;
    background: #26bb48;
    color: #ffcb2d;
    width: 67px;
    height: 67px;
    line-height: 72px;
    margin-bottom: 18px;
    border-radius: 50px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.abut-gride:hover span {
    color:#fff;
}
.abut-gride h5 {
    font-size: 24px;
    color: #000;
}
/*--// about-inner-- */
/*--// about-- */
/*-- slider--*/
.agileit-folio_grid:before {
    content: "";
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    line-height: 2.9em;
    font-family: FontAwesome;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    -moz-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    -ms-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    -o-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    opacity: 0;
    filter: alpha(opacity=0);
}
.agileit-folio_grid:after {
    background-color: rgba(94, 192, 93, 0.44);
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.agileinfo_port_grid:hover .agileit-folio_grid:after {
    opacity: 1;
}
.agileinfo_port_grid:hover .agileit-folio_grid:before {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1,1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1,1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1,1);
    transform: translateX(-50%) translateY(-50%) scale(1,1);
    -webkit-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    -moz-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    -ms-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    -o-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
}
/*--flexisel--*/
.container.py-lg-5.py-md-4.py-sm-4.py-3 {
    margin-top: -60px;
}
/* .pi-text h6 {
    position: absolute;
    right: 0px;
    padding-top: 10px;
    color: black;
}
.pi-text a {
    position: absolute;
    left: 0px;
    color: black;
    font-size: 15px;
}     */


/* .product-item .pi-text h6 {
	padding: 0;
	position: absolute;
    right: 0;
	overflow: hidden;
	font-weight: 700;
	color: #111111;
}

.product-item .pi-text a {
    padding: 0;
    position: absolute;
    left: 0;
	font-size: 14px;
	color: #111111;
	margin-bottom: 0;
} */


/*.about{position:relative;}
.slid-img{position:absolute;
width:100%;
left:0%;
bottom:-86px}
/*--//flexisel--*/
/*--//slider--*/
/* --customer-review--*/

.clients { background: url(../images/b1.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.least-w3layouts-text-gap {
    box-shadow: 1px 1px 6px 0px black;
    padding: 2em 3em;
    background: rgba(255, 255, 255, 0.7215686274509804);
}
.news-img img {
    border-radius: 50%;
}
.clients-says-w3layouts {
    padding: 26px 0px 0px;
}
.clients_more-buttn a ,.subscrib-btnn,.sent-butnn{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #000;
    outline: none;
    padding: 13px 33px;
    border: 1px double #000;
    margin: 22px 0px;
        transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.clients_more-buttn a:hover,.subscrib-btnn:hover,.sent-butnn:hover {background:#fff;
color:#000;}
 .carousel-control-prev {
    left: -58px;
}
.carousel-control-next{
    right: -58px;
}
.carousel-control-next, .carousel-control-prev {
    width: 3%;
}
.clients-says-w3layouts span {
    font-size: 13px;
    color: #26bb48;
}
.news-agile-text span {
    font-size: 20px;
    margin: 0px 9px;
    color: #ea1d5d;
}
/*--//customer-review-- */
/*--Premium-- */
.sub-agile-info-toys {
    border: 1px solid #fff;
    padding: 2em 3em;
}
.sub-agile-info-toys p{line-height:32px;}
.agileits-toys-left{background: url(../images/pp1.png)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height:534px;}
/*--//Premium-- */
.img-toy-w3l-top{background: url(../images/cc1.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height:534px;}
.toys-img-one{background: url(../images/cc2.jpg)no-repeat center;}
.toys-img-one-two{background: url(../images/tt1.jpg)no-repeat center;}
.toys-img-one-three{background: url(../images/tt2.jpg)no-repeat center;}
.toys-img-one-two,.toys-img-one-three{
        background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height:308px;}
.toys-img-one{
            background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
-ms-background-size: cover;
height:816px;}
/*--subscribe- */
.map-info-right iframe {
    width: 100%;
    height:24em;
    border: 0;
}
.address-w3l-right {
    background:#ffcb2d;
    padding: 2em 0em;
}
.address-gried span{ 
font-size:30px;
color:#ea1d5d;
    margin-bottom: 10px;
    }

.email-sub-agile input[type="email"],.contact-forms input,.contact-forms textarea {
    width: 100%;
    background: #fff;
    border:1px solid #000;
    padding: .8em .7em;
    border-radius: 0px;
    outline: none !important;
    font-size: 14px;
}
.sub-info-mail{width:50%;
               margin:0px auto;}
.icons ul li,.cart-icons ul li,.icons-social ul li{
    display: inline-block;
}
.icons ul li a,.cart-icons ul li {
    color: #fff;
}
.icons ul li a span ,.cart-icons ul li span,.icons-social ul li span{
    font-size: 15px;
    border: 1px solid ;
    letter-spacing: 0px;
    width: 37px;
    height: 37px;
    line-height: 35px;
    text-align: center;
    margin: 0px 5px;
    color:#ea1d5d;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icons ul li a span:hover,
.cart-icons ul li span:hover
{
    color: #fff;
}
.icons-social ul li span:hover{color:#000;}
/*--social-icons--*/
.footer-social {
    position: absolute;
    bottom: 0;
}
.footer-social li {
    display: inline-block;
}
.footer-social li a {
    color: #999;
    font-size: 15px;
}
.footer-social li a:hover {
    color:#ffcb2d;
}

/*--//social-icons--*/
/*--//subscribe- */
/*--contact- */
.contact-forms textarea {
    resize: none;
    height: 9em;
}
/*--//contact- */
/*--check-out- */
.shop_inner_inf {
    width: 90%;
    margin: 0 auto;
}
/*--//check-out- */
/* typography */
h3.typo-main-heading {
    font-size: 2.7em;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 2px solid #e2e1e1;
    display: inline-block;
    color:#ea1d5d;
}
h4.typo-sub-heading {
    color: #000;
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 500;
}

@media(max-width:1080px) {
    h4.typo-sub-heading {
        font-size: 24px;
    }
    h3.typo-main-heading {
        font-size: 2.5em;
    }
}

@media(max-width:800px) {
    h4.typo-sub-heading {
        font-size: 22px;
    }
    h3.typo-main-heading {
        font-size: 2.3em;
    }
}

@media(max-width:640px) {
    h3.typo-main-heading {
        font-size: 2em;
    }
}
/* typography */
/*--icons 404 pages--*/
.page-not-agile h4 {
font-size: 11em;
letter-spacing: 19px;
color:#26bb48;
font-weight: 600;
}
.sub-text-page p {
font-size: 15px;
color: #000;
letter-spacing: 2px;
}
/*--//icons 404 pages--*/
/*-- footer-- */
img.bg-img {
    width: 64px;
    height: 64px;
}
.post-item {
    display: flex;
    margin-bottom: 20px;
    padding-top: 5px;
}
.blog-content {
    padding: 0;
    margin: 0;
    color: #1adeed;
    margin-left: 15px;
}
h5.blog-text {
    padding: 0;
    margin: 0;
    color: cadetblue;
    font-size: 18px;
}
a.readmore {
    display: block;
    color: #cc5d70;
    font-size: 12px;
    font-family: initial;
}
.blog-content span {
    color: #565654;
    font-size: 12px;
    font-family: initial;
}
form.subscribe-email {
    display: flex;
}
.subscribe button {
    border: none;
    background-color: #fff;
    font-size: 15px;
    color: #f11648;
    font-family: inherit;
}
img.img-card {
    margin: 10px 10px 10px 0px;
}
input#email {
    font-size: 12px;
    border-radius: 0;
}
.footer-bottom {
    background-color: #292828;
}
/* p {
    color: antiquewhite;
} */
h3,h6,h5 {
    color: aliceblue;
    padding: 20px;
}
h6,h5 span{
    color: #0c5460;
}
span {
    color: brown;
}
.contact-info {
    display: flex;
    padding: 5px;
}
.contact-info span{
    padding: 5px;
}
.contact-info p{
    padding: 5px;
}
.user-link {
    display: flex;
    padding: 0;
}
.footer-widget p {
    font-family: initial;
    color: #8f8f8f;
    font-size: 12px;
}
.user-link ul li a {
    color: #8f8f8f;
    font-size: 12px;
    font-family: initial;
}.user-link ul {
    margin-right: 40px;
}
ul {
    color: red;
}
.social-links-warp {
	border-top: 2px solid #3b3535;
	padding: 5px 0;
}

.social-links a {
	margin: auto;
	margin-left: 5px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #2F5D84;
}

.social-links a.google-plus:hover i {
	color: #E04B37;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.pinterest:hover i {
	color: #CD212D;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.youtube:hover i {
	color: #D12227;
}

.social-links a.tumblr:hover i {
	color: #37475E;
}

.social-links a:hover span {
	color: #fff;
}


footer{background:#282828;}
.copy-agile-right p {
    letter-spacing: 2px;
    font-size: 14px;
    color:#fff;
}
.copy-agile-right p a {
    color:#ea1d5d;
}
.copy-agile-right p a:hover{color:#fff;}
/* --footer-- */
/*-- to-top --*/
#toTop {
display: none;
text-decoration: none;
position: fixed;
bottom: 20px;
right: 2%;
overflow: hidden;
z-index: 999; 
width: 46px;
height: 36px;
border: none;
text-indent: 100%;
background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
width: 32px;
height: 32px;
display: block;
overflow: hidden;
float: right;
opacity: 0;
-moz-opacity: 0;
filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--responsive--*/
@media(max-width:1920px){
    
}
@media(max-width:1680px){
    
}
@media(max-width:1600px){
    
}
@media(max-width:1440px){
    .slider-info h5 {
    font-size: 57px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.slider-img {
    min-height: 300px;  
}
.title {
    font-size: 20px;
    letter-spacing: 2px;
}
.slider-info {
    padding: 22em 0 0;
}
.page-not-agile h4 {
    font-size: 9em;
    letter-spacing: 16px;
}
}
@media(max-width:1366px){
.title {
    font-size: 20px;
}
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 2em;
}
.navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px;
    padding: 6px 10px;      
}
.search-right input[type="search"] {
    width: 80%;
}
.search-right button {
    width: 19%;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 35px;
}
.map-info-right iframe {
    height: 22.5em;
}
.address-w3l-right {
    padding: 1.5em 0em;
}
.address-gried span {
    font-size: 28px;
    margin-bottom: 8px;
}
.sub-info-mail {
    width: 54%;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 30px;
        margin-bottom: 21px;
}
}
@media(max-width:1280px){
.clients_more-buttn a, .subscrib-btnn, .sent-butnn {
    padding: 11px 27px;
}   
.sub-agile-info-toys {
    padding: 2em 2em;
}
.abut-gride span {
    font-size: 27px;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 15px;
}
}
@media(max-width:1080px){
    .toys-img-one-two, .toys-img-one-three {
    height: 266px;
}
.toys-img-one {
    height: 729px;
}
.img-toy-w3l-top {
    height: 449px;
}
.outs_more-buttn a{padding:8px 19px;}
.toys-grids-upper {
    width: 59%;
    left: 20%;
}
.news-agile-text span {
    font-size: 18px;
margin: 0px 6px;}
.news-agile-text span {
    font-size: 18px;
    margin: 0px 6px;
}
.sub-text-page p {
    letter-spacing: 1px;
}
h3.typo-main-heading {
    font-size: 2.5em;
}
h4.typo-sub-heading {
    font-size: 24px;
}
}
@media(max-width:1050px){
    .carousel-control-prev {
    left: -42px;
}
.carousel-control-next {
    right: -43px;
}
.search-right input[type="search"] {
    width: 77%;
}
.search-right button {
    width: 23%;
}
.navbar-light .navbar-nav .nav-link {
    padding: 6px 32px;
}
.slider-info h5 {
    font-size: 49px;
    margin-bottom: 6px;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 30px;
}
.slider-img {
    min-height: 711px;
}
.toys-grids-upper {
    padding: 5em 2em;
}
.sub-info-mail {
    width: 60%;
}
.abut-gride span {
    width: 63px;
    height: 63px;
    line-height: 67px;
}
}
@media(max-width:1024px){
.least-w3layouts-text-gap {
    padding: 1.5em 2.5em;
}   
.carousel-control-next {
    right: -34px;
}
.carousel-control-prev {
    left: -33px;
}
.clients_more-buttn a, .subscrib-btnn, .sent-butnn {
    margin: 19px 0px;
}
.address-gried span {
    font-size: 25px;
}
.map-info-right iframe {
    height: 21em;
}
.page-not-agile h4 {
    font-size: 8em;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    margin-bottom: 12px;
}
}
@media(max-width:991px){
    .info-contact-agile ul li span {
    font-size: 16px;
    }
h1 a.navbar-brand {
    font-size: 30px;
    }
    div#navbarSupportedContent {
background:transparent;
text-align: center;
padding: 13px 0px;
}
.navbar-light .navbar-nav .nav-link {
padding: 12px 15px;
}
.navbar-light .navbar-toggler {
border-color:#fff;
background:#ea1d5d;
padding: 2px 6px;
margin-top: 0px;
outline: none;
margin-right: 0px;
cursor: pointer;
border-radius: 6px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.navbar-light .navbar-toggler:hover {
background: #fff;
}
.toys-grids-upper {
    width: 78%;
    left: 10%;
    padding: 4em 2em;
    top: 361px;
}   
.clients-w3layouts-row:nth-child(2) {
    margin-top: 33px;
}
.agileits-toys-left {
    height: 609px;
}
.sub-agile-info-toys {
    padding: 1.5em 1.5em;
}
.clients_more-buttn a,.subscrib-btnn,.sent-butnn {
    letter-spacing: 1px;
}
.banner-agile-flowers:nth-child(3) {
    margin-top: 20px;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 28px;
    margin-bottom: 19px;
}
}
@media(max-width:900px){
    .slider-img {
    min-height: 652px;
}
.slider-info {
    padding: 20em 0 0;
}
.slider-info h5 {
    font-size: 44px;
    letter-spacing:1px;
}
.slider-info p {
    font-size: 15px;
    letter-spacing: 1px;
}
.img-toy-w3l-top {
    height: 331px;
}
}
@media(max-width:800px){
.icons ul li a span, .cart-icons ul li span, .icons-social ul li span {
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    margin: 0px 3px;
}
.banner-right-icon h4, .clients-says-w3layouts h4 {
    font-size: 21px;
}
.about-toys-off h2 {
    font-size: 26px;
}
.toys-grids-upper {
    padding: 3em 2em;
}   
.sub-info-mail {
    width: 69%;
}
.copy-agile-right p {
    letter-spacing: 1px;
}
h3.typo-main-heading {
    font-size: 2.3em;
}
h4.typo-sub-heading {
    font-size: 22px;
}
}
@media(max-width:768px){
    .slider-info h5 {
    font-size: 42px;
    }
    .news-agile-text span {
    font-size: 16px;
    }
.carousel-control-prev {
 left: -22px;
}
.carousel-control-next {
    right: -23px;
}
.clients-says-w3layouts {
    padding: 22px 0px 0px;
}
.clients_more-buttn a, .subscrib-btnn, .sent-butnn {
    margin: 14px 0px;
    padding: 8px 23px;
}
.abut-gride h5 {
font-size: 22px;
}
}
@media(max-width:767px){
.search-right input[type="search"] {
    width: 74%;
}
.search-right button {
    width: 26%;
}
.slider-info h5 {
    font-size: 39px;
}
.slider-info p {
    font-size: 14px;
}
.slider-img {
    min-height: 620px;
}
.slider-info {
    padding: 19em 0 0;
}
h1 a.navbar-brand {
    font-size: 28px;
}
.toys-grids-upper {
    width: 97%;
    left: 1%;
}   
.about-toys-off h2 {
    font-size: 23px;
}
.img-toy-w3l-top {
    height: 253px;
}
.img-toy-w3l-top {
    height: 253px;
}
.toys-img-one-two, .toys-img-one-three {
    height: 252px;
}
.map-info-right iframe {
    height: 18em;
}
.search-right {
    margin: 16px 0px;
}
.slider-info {
    padding: 22em 0 0;
}
.callbacks_nav {
    top:81%;
}
.abut-gride:nth-child(2) {
    margin: 26px 0px;
}
.contact-forms textarea {
    height: 8em;
}
}
@media(max-width:736px){
    .title {
    font-size: 39px;
     letter-spacing: 1px;
}
.sub-info-mail {
    width: 85%;
}
.page-not-agile h4 {
    font-size: 7em;
}
}
@media(max-width:667px){
.slider-info h5 {
    font-size: 36px;
}
.map-info-right iframe {
    height: 15em;
}   
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 24px
}

}
@media(max-width:640px){
    h1 a.navbar-brand {
    font-size: 26px;
}
.info-contact-agile ul li p, .info-contact-agile ul li p a {
    font-size: 13px;
}
.page-not-agile h4 {
    font-size: 6em;
}
h3.typo-main-heading {
    font-size: 2em;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    padding: 9px 7px;
}
}
@media(max-width:600px){
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 1em;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
      padding: 10px 15px;
}
.contact-forms textarea {
    height: 7em;
}
}
@media(max-width:568px){
    .toys-grids-upper {
    position: initial;
    width: 100%;
    margin-top: 20px;
    }
    .carousel-control-prev {
    left: -9px;
}
.carousel-control-next {
    right: -7px;
}
.toys-img-one {
    height: 712px;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 23px;  
}
.banner-agile-flowers:nth-child(2){
    margin-top: 21px;
}   
.abut-gride h5 {
    font-size: 21px;
}
.page-not-agile h4 {
    font-size: 5em;
}
.agileits-toys-left {
    height: 559px;
}
}
@media(max-width:480px){
.toys-img-one {
    height: 712px;
}   
.slider-info p {
    line-height: 27px;
}
.about-toys-off h2 {
    font-size: 21px;
}
.about-toys-off h2 {
    font-size: 21px;
}
.toys-grids-upper {
    padding: 2em 1em;
}
.news-agile-text img {
    width: 98%;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 22px;
}
.sub-text-page p {
    font-size: 14px;
}
.agileits-toys-left {
    height: 497px;
}
}
@media(max-width:440px){
    .email-sub-agile input[type="email"], .contact-forms input, .contact-forms textarea {
    padding: .7em .7em;
}
.sub-info-mail {
    width: 92%;
}
.copy-agile-right p {
    line-height: 28px;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 22px;
    line-height: 33px;
}

.timetable_sub th, .timetable_sub td {
    padding: 6px;
    font-size: 13px;
}
}
@media(max-width:414px){
.toys-img-one-two, .toys-img-one-three {
    height: 210px;
}
.toys-img-one {
    height: 527px;
}
.img-toy-w3l-top {
    height: 212px;
}   
.slider-info h5 {
    font-size: 29px;
}
.slider-img {
    min-height: 613px;
}
.about-toys-off h2 {
    font-size: 19px;
}
.sub-text-page p {
    line-height: 25px;
}
.agileits-toys-left {
    height: 416px;
}
}
@media(max-width:384px){
    .hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: .7em 1em;
}
    .clients-says-w3layouts {
    padding: 16px 0px 0px;
}
.title {
    font-size: 37px;
}
.slider-info h5 {
    font-size: 23px;
}
.slider-info {
    padding: 23em 0 0;
}
.about-toys-off h2 {
    font-size: 18px;
}
.page-not-agile h4 {
    font-size: 4em;
}
.checkout-right h4, .address_form h4 {
    font-size: .9em;
}
.shop_inner_inf {
    width: 100%;
    margin: 0 auto;
}
.timetable_sub th, .timetable_sub td {
    padding: 4px;
    font-size: 12px;
}
}
@media(max-width:375px){

.slider-info p {
    font-size: 13px;
}
.toys-img-one-two, .toys-img-one-three {
    height: 186px;
}
.abut-gride span {
    font-size: 24px;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 14px;
}
.agileits-toys-left {
    height: 374px;
}
}
@media(max-width:320px){
.slider-info h5 {
    font-size: 21px;
}
.slider-info {
    padding: 22em 0 0;
}
.img-toy-w3l-top {
    height: 142px;
}
.toys-img-one {
    height: 377px;
}
.toys-img-one-two,.toys-img-one-three {
    height: 156px;
}
.timetable_sub th, .timetable_sub td {
    padding: 3px;
    font-size: 11px;
}
.agileits-toys-left {
    height: 312px;
}
}
/*--//responsive--*/

/* single html */
.bg-banner{
    margin-top: 200px;
}
.description p {
    font-weight: 700;
    font-family: inherit;
}
img.lazy.img-single-product {
    width: 350px;
    height: 350px;
}
section.banner-bottom.py-3 {
    margin-bottom: 50px;
}
.btn-home {
    display: flex;
}
.btn-home span{
    font-size: 23px;
}
.back-home{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
}
.btn-home p {
    font-weight: 700;
    font-family: revert;
}
h3.single-title {
    padding: 0;
}

/* single tab */
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  background-color: white;
  overflow: hidden;
}
.tab-text{
    color: #000;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
